#mytable1 {
  background-color: white;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
  height: 30em;
  width: 30em;
}

#c00 {
  background-color: red;

}
td {
  width: 100px;
  height: 100px;
  display:;
}
